@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Poppins:ital@1&display=swap');







*{
    padding: 0px;
    margin: 0px;  
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{

    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    background: deepskyblue;

}







/* header and nav */
header{
    background: pink;
}



/* skip link */
.skip-link{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 2px;
    background-color: deepskyblue;
    color: black;
    transform: translateY(-100%);
}

.skip-link:focus{
    transform: none;
}



nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


nav .nav-right{
    display: flex;
    float: right;
   
}

nav img{
    max-width: 150px;
    max-height: 150px;
    margin-left: 50px;
}


nav .nav-right ul li{
    color: white;
    font-size: 20px;
    margin-left: 30px;
    display: inline-block;
    margin-bottom: 10px;

}

nav .nav-right ul li a{
    color: white;
}


nav .nav-right ul li:hover{
    color: white;
    text-decoration: underline;

}

.active{
    text-decoration: underline;

}

nav .nav-left img{
    max-width: 150px;
    max-height: 150px;
    margin-left: 100px;
}













/* footer */
footer{
    margin-top: 3px;
    width: 100%;
    height: 120px;
    background-color: pink;
    font-family: 'Dongle', sans-serif;
}

footer h2{
    text-align: center;
    color: white;
    font-size: 25px;
}

footer ul{
    margin-top: 0px;
    list-style: none;
    text-align: center;
}

footer ul li{
    display: inline-block;
    margin-left: 25px;
}

footer ul li img{
    width: 25px;
    height: 25px;
}









/* breadcrumb */
.breadcrumb{
    padding: 10px;
}

.breadcrumb-item{
    display: inline-block;
}

.breadcrumb-item span{
    color: yellow;
}

.breadcrumb-item:not(:last-of-type)::after{
    content: "/";
    margin: 0 5px;
    color: white;

}

.breadcrumb-link{
    color: white;
}

.breadcrumb-link:hover{
    text-decoration: underline;
    color: white;
}

.breadcrumb-link--acitve{
    color: pink;
    font-weight: 200;
}







/* index.html */
.hero{
    
    background-image: url(imgs/hero.jpeg);
    max-width: 100%;
    height: 400px;
    /* max-height: 1000px; */

    
}

.hero h1{

    font-size: 50px;
    position: relative;
    top:250px;
    margin-left: 30px;
    color: white;

}

.hero h2{

    font-size: 40px;
    position: relative;
    top:250px;
    margin-left: 30px;
    color: white;

}

.introduction p{
    margin-left: 40px;
    margin-bottom: 50px;
    width: 80%;
    font-size: 25px;
    margin-top: 40px;
    color: white;
    font-family: 'Dongle', sans-serif;
}

.introduction h2{
    color: white;
    margin-top: 80px;
    font-size: 50px;
    text-align: center;
}








/* card layout */
.card-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.card{

    background: white;
    width: 300px;
    height: 450px;
    margin: 15px;
    border-radius: 18px;

}

.card h3{
    font-size: 18px;
}

.card p{
    margin-top: 15px;
    text-align: center;
    
}

.card-image{
    background-image: url(imgs/background-3.jpeg);
    width: 300px;
    height: 300px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    margin-bottom: 20px;
}



.card a{
    background-color: deepskyblue;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
}








/* scenic and food */
.scenic-food-containers h1{

    position: relative;
    color: white;
    text-align: center;
    font-size: 70px;
    top:50px;
}

.scenic-food-containers p{
    color: white;
    margin-top: 100px;
    text-align: left;
    max-width: 800px;
    font-size: 22px;
    /* padding-bottom: 100px; */
    margin-left: 20px;
    font-family: 'Dongle', sans-serif;
    /* text-align: center; */
}

.scenic-food-containers p{
    color: white;
    margin-top: 100px;
    text-align: left;
    max-width: 800px;
    font-size: 22px;
    /* padding-bottom: 100px; */
    margin-left: 20px;
    font-family: 'Dongle', sans-serif;
    /* text-align: center; */
}

.scenic-food-containers h3{
    text-align: center;
}

.scenic-food-containers h2{
    text-align: center;
    color: white;
    font-size: 80px;
    margin-top: 40px;
}


.scenic-food-containers h4{
    text-align: center;
}






/* detail */
.detail-article{
    height: 2000px;
}


.detail-article h1{
    text-align: center;
    margin-top: 50px;
    color: white;
    font-size: 40px;
}



.detail-article h2{

    text-align: center;
    margin-top: 50px;
    color: white;
    font-size: 40px;
    
}

.information{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.information-img img{

    margin-top: 10px;
    max-width: 375px;
    height: 330px;
    border-radius: 18px 18px 18px 18px;

}

.information-text{
    width: 375px;
    height: 320px;
    border-style: double double double double;
    border-color: white;
    background: white;
    border-radius: 18px 18px 18px 18px;
    margin-top: 20px;
    font-family: 'Dongle', sans-serif;
    
}



.information-text h3{

    font-size: 35px;
    text-align: center;
    color: deepskyblue;
    font-family: 'Dongle', sans-serif;
}

.information-text p{
    margin-top: 10px;
    font-size: 18px;

}

.information-text strong{
    font-size: 25px;
    color: deepskyblue;
}

.picture ul{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.picture img{
    max-width: 375px;
    max-height: 475px;
    border-radius: 18px 18px 18px 18px;
    margin-top: 20px;
}









/* Contact */
.contact-article{
    width: 100%;
    height: 2400px;
  }
  
  
  .contact-article h1{
  
    text-align: center;
    max-width: 100%;
    height: 30px;
    font-size: 40px;
    color: white;
    margin-top: 50px;
    /* padding: 2em; */
  
  }
  
  .contact-article .contact ul li img{
 
    height: 100px;
    position: relative;
    margin-bottom: 40px;
    margin-top: 80px;
    align-items: center;
    text-align: center;
  }
  

  .center {
    display: block;
    margin: 0 auto;
}
  
  
  .contact-article .contact  ul li p{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    margin-top: -20px;
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Dongle', sans-serif;
  }
  
  
  .contact-article .reference h2{
    text-align: center;
    font-size: 40px;
    padding: 30px;
    background-image: url(img/contact/reference-background.jpeg);
    margin-top: 150px;
    color: white;
  }
  
  .contact-article .reference ul li p{
    width: 90%;
    margin-top: 10px;
    color: white;
    margin-left: 20px;
    font-size: 25px;
    font-family: 'Dongle', sans-serif;
  }
  
  .contact-article .reference ul li strong{
    color: rgb(197, 94, 111);
  }
  
  
  









/* ipad layout */
@media screen and (min-width: 768px) and (max-width:768px){

    /* all pages for all ipad */
    .index{
        height: 2100px;
    }


    .scenic-food-article{
        height: 1000px;
    }

    .detail-article{
        height: 1250px;
    }
    



    /* navigation */
    nav .nav-right ul{
        margin-right: 100px;
        margin-top: 65px;
    }

    nav .nav-right ul li{
        font-size: 22px;
        margin-top: 10px;
    }




    /* index.html */
    .hero h1{
        font-size: 80px;
        position: relative;
        top:220px;
        margin-left: 50px; 
    }
    
    .hero h2{ 
        font-size: 60px;
        position: relative;
        top:220px;
        margin-left: 50px;
    
    }

    .introduction p{
        margin-left: 80px;
        font-size: 28px;
    }




    
    /* card layout */
    .contact-article h1{
  
        text-align: center;
        max-width: 100%;
        height: 30px;
        font-size: 50px;
        color: white;
        margin-top: 50px;
      
    }

            
  .contact-article .contact  ul li p{
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    margin-top: -20px;
    text-align: center;
    color: white;
    font-size: 28px;

  }



    .contact-article .reference ul li p{
        width: 100%;
        /* margin-left: 20px; */
        margin-top: 30px;
        color: white;
        font-size: 28px;
        text-align: center;
    }


}


/* laptop layout */
@media screen and (min-width: 1440px) and (max-width:1440px){


    /* all pages for laptop (article) */
    .index{
        width: 100%;
        height: 2400px;
        border-style: hidden solid hidden solid;
        border-color: rgb(255, 154, 204);
    }

    .contact-article h1{
    
        text-align: center;
        max-width: 100%;
        height: 30px;
        font-size: 50px;
        color: white;
        margin-top: 50px; 
    } 


    .scenic-food-article{

        height: 1050px;
    }

    .detail-article{
        height: 1550px;
    }






    /* navigation */
    nav .nav-right ul{
        margin-right: 150px;
        margin-top: 60px;
    }

    nav .nav-right ul li{
        font-size: 27px;
        margin-right: 10px;

    }








    /* index.html */
    .hero{

        margin-top: 4px;
        height: 600px;
        
    }

    .hero h1{

        font-size: 120px;
        position: relative;
        top:300px;
        margin-left: 120px;
        color: white;
    
    }
    
    .hero h2{
    
        font-size: 80px;
        position: relative;
        top:300px;
        margin-left: 120px;
    
    }

    .introduction p{
        margin-left: 180px;
        width: 80%;
        font-size: 40px;
        margin-top: 40px;
        color: white;
        font-family: 'Dongle', sans-serif;
    }
    
    .introduction h2{
        font-size: 70px;
    }








    /* card layout */
    .card-container{
        /* display: flex; */
        justify-content: space-around;
        /* flex-wrap: wrap; */
    }


    /* scenic-food-layout */

    .scenic-food-containers p{
        color: white;
        margin-top: 100px;
        text-align: center;
        max-width: 800px;
        font-size: 28px;
        margin-left: 300px;

    }







    /* detail layerout */
    .detail-article h1{
        text-align: center;
        margin-top: 50px;
        color: white;
        font-size: 60px;
        margin-bottom: 100px;
    }

    .detail-article h2{
        font-size: 60px;
    }



    .picture{
        padding: 30px 170px;
    }
    




    /* about.html */
    .contact-article .contact  ul li p{
        width: 100%;
        position: relative;
        margin-bottom: 20px;
        margin-top: -20px;
        text-align: center;
        color: white;
        font-size: 35px;
        font-family: 'Dongle', sans-serif;
    }
    
    .contact-article .reference ul li p{
        width: 100%;
        margin-top: 30px;
        color: white;
        font-size: 30px;
        text-align: center;
        font-family: 'Dongle', sans-serif;
    }

}