@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&display=swap');


*{
    padding: 0px;
    margin: 0px;  
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{

    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    background: deepskyblue;

}

/* header and nav */

header{
    background: pink;
}

nav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


nav .nav-right{
    display: flex;
    float: right;
   
}

nav img{
    max-width: 150px;
    max-height: 150px;
    margin-left: 50px;
}


nav .nav-right ul li{
    color: white;
    font-size: 20px;
    margin-left: 30px;
    display: inline-block;
    margin-bottom: 10px;

}

nav .nav-right ul li a{
    color: white;
}


nav .nav-right ul li:hover{
    color: white;
    text-decoration: underline;

}

.active{
    text-decoration: underline;

}



nav .nav-left img{
    max-width: 150px;
    max-height: 150px;
    margin-left: 100px;
}

header .hr{
    border: 1px;
    padding-top: 10px;
    color: #d0d0d5;
    border-top: 1px solid rgba(0,0,0,.1);
    box-shadow: inset 0 10px 10px -10px;
}





/* footer */

footer{
    margin-top: 3px;
    width: 100%;
    height: 120px;
    background-color: pink;
}

footer h2{
    text-align: center;
    color: white;
}

footer ul{
    margin-top: 12px;
    list-style: none;
    text-align: center;
}

footer ul li{
    display: inline-block;
    margin-right: 25px;
}

footer ul li img{
    width: 25px;
    height: 25px;
}


/* Index --- main */


article{

    background-color: deepskyblue;
    height: 3000px;


}

.hero{


    margin-top: 4px;
    background-image: url(imgs/brisbane-1440.jpeg);
    max-width: 1440px;
    height: 330px;

    
}

.hero h1{

    font-size: 50px;
    position: relative;
    top:200px;
    margin-left: 30px;
    color: white;

}

.hero h2{

    font-size: 40px;
    position: relative;
    top:200px;
    margin-left: 30px;
    color: white;

}



.introduction p{
    margin-left: 50px;
    margin-bottom: 50px;
    width: 80%;
    font-size: 15px;
    margin-top: 40px;
    color: white;
}

.introduction h2{
    color: white;
    margin-top: 80px;
    font-size: 70px;
    text-align: center;
}



/* scenic-headin */


.scenic-heading h2{

    position: relative;
    color: white;
    text-align: center;
    font-size: 70px;
    top:50px;
}





.food-heading h2{

    position: relative;
    color: white;
    text-align: center;
    font-size: 70px;
    margin-top: 50px;
    top:50px;
}



.card-container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.card{

    background: white;
    width: 300px;
    height: 450px;
    margin: 15px;
    border-radius: 18px;

}

.card p{
    margin-top: 15px;
}

.card-image{
    background-image: url(imgs/background-3.jpeg);
    height: 300px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    margin-bottom: 20px;
}


/* ipad layout */
@media screen and (min-width: 768px) and (max-width:768px){



    nav .nav-right ul{
        margin-right: 100px;
        margin-top: 65px;
    }

    nav .nav-right ul li{
        font-size: 22px;
        margin-top: 10px;
        /* margin-right: 5px; */

    }

    .hero h1{
        font-size: 80px;
        position: relative;
        top:130px;
        margin-left: 50px;
        color: white;
    
    }
    
    .hero h2{ 
        font-size: 60px;
        position: relative;
        top:120px;
        margin-left: 50px;
        color: white;
    
    }

    .introduction p{
        margin-left: 80px;
        width: 80%;
        font-size: 25px;
        margin-top: 40px;
        color: white;
    }

    .card-container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }


}


/* laptop layout */
@media screen and (min-width: 1440px) and (max-width:1440px){

    article{
        width: 100%;
        padding-right: 120px;
        height: 2400px;
        border-style: hidden solid hidden solid;
        border-color: rgb(255, 154, 204);
    }


    nav .nav-right ul{
        margin-right: 150px;
        margin-top: 60px;
    }

    nav .nav-right ul li{
        font-size: 27px;
        margin-right: 10px;

    }


    .hero{

        margin-top: 4px;
        background-image: url(imgs/brisbane-1440.jpeg);
        /* max-width: 100%; */
        height: 600px;
        margin-left: 120px; 
        
    }

    .hero h1{

        font-size: 120px;
        position: relative;
        top:300px;
        margin-left: 120px;
        color: white;
    
    }
    
    .hero h2{
    
        font-size: 80px;
        position: relative;
        top:300px;
        margin-left: 120px;
    
    }

    .introduction p{
        margin-left: 180px;
        width: 80%;
        font-size: 20px;
        margin-top: 40px;
        color: white;
    }

    .card-container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .scenic-heading h2{

        position: relative;
        color: white;
        text-align: center;
        font-size: 70px;
        margin-bottom: 100px;
        top:50px;
    } 
    
    .food-heading h2{
    
        position: relative;
        color: white;
        text-align: center;
        font-size: 70px;
        margin-bottom: 100px;
        top:50px;
    }
    

    

}




















/* index.html --- introduction */





